<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= locals.pageTitle %></title>
</head>
<body>
    <div class="main__container">
        <header>
            <%- include('./partials/sidebar.ejs') %>
        </header>
    
        <main>
            <div class="container">
                <div class="hero__intro">
                    <h1>Welcome to <span class="logo">Kapelang</span> – Where Every Sip Tells a Story</h1>
                    <p class="default-topo">At Kapelang, we believe that coffee is more than just a drink—it's an experience. Born from the rich traditions of coffee craftsmanship, our beans are handpicked from the finest plantations around the world, roasted to perfection, and crafted to awaken your senses. Whether you’re a casual sipper or a seasoned aficionado, Kapelang invites you on a journey of flavor that’s bold, rich, and unforgettable.</p>
                    <p class="default-topo">Join us in celebrating the art of great coffee. Every cup of Kapelang is a moment to savor, a story to tell, and a passion to share. Welcome to the world of Kapelang—where exceptional coffee is more than just a beverage, it's a way of life.</p>
                </div>
            </div>
        </main>
    </div>
    
</body>
</html>