<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title><%= pageTitle %></title>
</head>

<body>
  <div class="main__container">
      <div class="hamburger">
        <div class="bars"></div>
        <div class="bars"></div>
        <div class="bars"></div>
        </div>
    <header>
      <%- include('../partials/sidebar.ejs') %>
    </header>

    <main>
      <div class="container login__section">
        <section class="login-form">
          <h2 class="default-topo">Login</h2>
          <% if(locals.registerSucc) { %>
          <p class="default-topo breaker"><%= registerSucc %></p>
          <form class="breaker" action="/login/submit" method="post">
            <input name="username" id="uEmail" type="email" placeholder="Your Email" required>
            <input name="password" id="uPass" type="password" placeholder="Your Password" required>
            <input type="submit" value="Submit">
          </form>
          <% } else {%>
            <% if(locals.message) { %>
              <p class="default-topo breaker"><%= message %></p>
            <% } %>
          <form class="breaker" action="/login/submit" method="post">
            <input name="username" id="uEmail" type="email" placeholder="Your Email" required>
            <input name="password" id="uPass" type="password" placeholder="Your Password" required>
            <input type="submit" value="Submit">
          </form>
          <% } %>
          <div class="register breaker">
            <p class="default-topo breaker">Don't have an account yet? <a href="/register">Register here</a></p>
          </div>
        </section>
      </div>

    </main>
  </div>

</body>

</html>